*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2efe3;
}




@font-face {
    font-family: 'opensans-normal';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'opensans-light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}


/* Mobil størrelse */
@media screen and (max-width: 600px) {
 
    
  


  } 
