*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2efe3;
}


@font-face {
    font-family: 'librebaskerville';
    src: url(fonts/LibreBaskerville-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'opensans-normal';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'opensans-light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');
}





/* Mobil størrelse */
@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
    
  


  } 
